<a href="https://colab.research.google.com/github/varshith2005a/Data-analytics-lab/blob/main/Imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imputation

Imputation is the process of replacing missing data with substituted values.

In data science and statistics, datasets often have gapsâ€”cells where information was not recorded or was lost. Because most machine learning algorithms cannot process blank values (NaN/Null), you must handle them. Instead of deleting the entire row or column (which loses valuable information), imputation fills these gaps with estimated values.

The goal of imputation is not just to "fill the hole," but to do so in a way that preserves the overall statistical relationships (like the mean, variance, and correlations) of the dataset.

In [ ]:
import pandas as pd
df=pd.read_excel('/content/Employee_data.xlsx')
print("Original DataFrame with Missing Values:")
print(df)

Original DataFrame with Missing Values:
    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
2           103      Mike Johnson  Engineering    NaN   90000.0 2020-06-01
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
6           106       Emily Davis    Marketing   31.0       NaN 2021-07-22
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
18          117  Jessica Thompson  Engineering   30.0       NaN 2021-11-05
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
27          126      Dorothy Hall           HR    NaN   58000.0 2020-11-30
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22

1. Simple Imputation (Univariate)

**Concept: **This is the most basic approach. You replace missing values with a summary statistic of that column (mean, median, mode) or a constant value. It treats every feature independently.

Mean: Good for normally distributed numerical data.

Median: Better if the data has outliers.

Most Frequent (Mode): Used for categorical data.

In [ ]:
from sklearn.impute import SimpleImputer
import pandas as pd

df_simple=df.copy()

# Identify numerical columns for mean imputation
numerical_cols = df_simple.select_dtypes(include=['number']).columns

# Initialize the imputer for numerical columns
imputer=SimpleImputer(strategy='mean')
df_simple[numerical_cols]=imputer.fit_transform(df_simple[numerical_cols])

# Display the DataFrame with imputed values
print("\n---Simple Imputation (Mean)---")
print(df_simple)

---Simple Imputation (Mean)---
    Employee_ID              Name   Department       Age         Salary  \
0         101.0          John Doe  Engineering   28.0000   75000.000000
1         102.0        Jane Smith    Marketing   34.0000   82000.000000
2         103.0      Mike Johnson  Engineering   35.9375   90000.000000
3         104.0    Sarah Williams           HR   29.0000   62000.000000
4         105.0      Robert Brown        Sales   45.0000   55000.000000
5         101.0          John Doe  Engineering   28.0000   75000.000000
6         106.0       Emily Davis    Marketing   31.0000  108624.979167
7         107.0      Chris Miller        Sales   22.0000   48000.000000
8         108.0       Anna Taylor           HR  205.0000   72000.000000
9         109.0      David Wilson  Engineering   40.0000  120000.000000
10        110.0       Linda Moore        Sales   37.0000   64000.000000
11        111.0    James Anderson          ???   29.0000   59000.000000
12        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
13        113.0   Richard Jackson        Sales   42.0000  850000.000000
14        114.0       Susan White  Engineering   38.0000   95000.000000
15        115.0     Joseph Harris           HR   26.0000   51000.000000
16        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
17        116.0     Thomas Martin        Sales   50.0000   71000.000000
18        117.0  Jessica Thompson  Engineering   30.0000  108624.979167
19        118.0     Daniel Garcia    Marketing   27.0000   69000.000000
20        119.0    Nancy Martinez        Sales   -5.0000   63000.000000
21        120.0     Paul Robinson  Engineering   35.0000   88000.000000
22        121.0      Steven Clark           HR   32.0000   60000.000000
23        122.0   Karen Rodriguez        Sales   41.0000   67000.000000
24        123.0      Edward Lewis    Marketing   29.0000   74000.000000
25        124.0         Betty Lee  Engineering   19.0000   52000.000000
26        125.0      Kevin Walker        Sales   36.0000   65000.000000
27        126.0      Dorothy Hall           HR   35.9375   58000.000000
28        127.0       Jason Young  Engineering   44.0000  115000.000000
29        128.0        Alice King    Marketing   31.0000   80000.000000
30        128.0        Alice King    Marketing   31.0000   80000.000000
31        129.0      Brian Wright        Sales   25.0000   49000.000000
32        130.0         Amy Lopez  Engineering   33.0000   92000.000000
33        131.0        Scott Hill        Sales   47.0000   73000.000000
34        132.0       Donna Scott           HR   24.0000   50000.000000
35        133.0        Eric Green    Marketing   30.0000   77000.000000
36        134.0      Justin Adams        ERROR   39.0000   89000.000000
37        135.0    Michelle Baker        Sales   28.0000   62000.000000
38        136.0  Raymond Gonzalez  Engineering   43.0000  110000.000000
39        137.0      Laura Nelson    Marketing   32.0000   79000.000000
40        138.0    Patrick Carter           HR   31.0000   61000.000000
41        139.0    Carol Mitchell        Sales   38.0000   66000.000000
42        140.0        Jack Perez  Engineering   29.0000  999999.000000
43        141.0    Brenda Roberts    Marketing   34.0000   81000.000000
44        142.0     Samuel Turner        Sales   23.0000   47000.000000
45        143.0  Gregory Phillips  Engineering   36.0000   91000.000000
46        144.0   Rachel Campbell           HR   27.0000   53000.000000
47        145.0     Andrew Parker        Sales   41.0000   68000.000000
48        146.0       Janet Evans    Marketing   35.0000   83000.000000
49        147.0    Joshua Edwards  Engineering   30.0000   87000.000000

    Join_Date
0  2021-01-15
1  2019-03-12
2  2020-06-01
3  2022-02-20
4  2018-11-10
5  2021-01-15
6  2021-07-22
7  2023-01-05
8  2020-10-15
9  2015-05-19
10 2017-08-30
11 2022-04-12
12 2019-09-01
13 2016-12-11
14 2014-02-28
15 2023-03-15
16 2019-09-01
17 2012-06-25
18 2021-11-05
19 2022-08-14
20 2018-04-10
21 2016-01-20
22 2020-02-14
23 2017-10-05
24 2021-09-12
25 2023-06-01
26 2018-03-22
27 2020-11-30
28 2014-07-18
29 2019-05-05
30 2019-05-05
31 2022-12-01
32 2015-10-10
33 2011-09-15
34 2023-05-20
35 2020-04-18
36 2016-08-12
37 2021-02-14
38 2013-12-01
39 2019-12-15
40 2020-07-07
41 2017-05-25
42 2021-03-30
43 2018-09-10
44 2023-02-14
45 2016-04-20
46 2022-01-10
47 2017-11-12
48 2018-06-30
49 2020-08-22

2. K-Nearest Neighbors (KNN) ImputationConcept:

This method finds the k rows (neighbors) that are most similar to the row with the missing value. It then averages the values of those neighbors to fill the gap.

This is often more accurate than simple imputation because it accounts for the correlation between rows.

Key Parameter: n_neighbors (the number of neighbors to use).

In [ ]:
from sklearn.impute import KNNImputer
df_knn=df.copy()
knn_imputer=KNNImputer(n_neighbors=2)
df_knn[numerical_cols]=imputer.fit_transform(df_knn[numerical_cols])
print("\n ---KNN Imputation---")
print(df_knn)

 ---KNN Imputation---
    Employee_ID              Name   Department       Age         Salary  \
0         101.0          John Doe  Engineering   28.0000   75000.000000
1         102.0        Jane Smith    Marketing   34.0000   82000.000000
2         103.0      Mike Johnson  Engineering   35.9375   90000.000000
3         104.0    Sarah Williams           HR   29.0000   62000.000000
4         105.0      Robert Brown        Sales   45.0000   55000.000000
5         101.0          John Doe  Engineering   28.0000   75000.000000
6         106.0       Emily Davis    Marketing   31.0000  108624.979167
7         107.0      Chris Miller        Sales   22.0000   48000.000000
8         108.0       Anna Taylor           HR  205.0000   72000.000000
9         109.0      David Wilson  Engineering   40.0000  120000.000000
10        110.0       Linda Moore        Sales   37.0000   64000.000000
11        111.0    James Anderson          ???   29.0000   59000.000000
12        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
13        113.0   Richard Jackson        Sales   42.0000  850000.000000
14        114.0       Susan White  Engineering   38.0000   95000.000000
15        115.0     Joseph Harris           HR   26.0000   51000.000000
16        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
17        116.0     Thomas Martin        Sales   50.0000   71000.000000
18        117.0  Jessica Thompson  Engineering   30.0000  108624.979167
19        118.0     Daniel Garcia    Marketing   27.0000   69000.000000
20        119.0    Nancy Martinez        Sales   -5.0000   63000.000000
21        120.0     Paul Robinson  Engineering   35.0000   88000.000000
22        121.0      Steven Clark           HR   32.0000   60000.000000
23        122.0   Karen Rodriguez        Sales   41.0000   67000.000000
24        123.0      Edward Lewis    Marketing   29.0000   74000.000000
25        124.0         Betty Lee  Engineering   19.0000   52000.000000
26        125.0      Kevin Walker        Sales   36.0000   65000.000000
27        126.0      Dorothy Hall           HR   35.9375   58000.000000
28        127.0       Jason Young  Engineering   44.0000  115000.000000
29        128.0        Alice King    Marketing   31.0000   80000.000000
30        128.0        Alice King    Marketing   31.0000   80000.000000
31        129.0      Brian Wright        Sales   25.0000   49000.000000
32        130.0         Amy Lopez  Engineering   33.0000   92000.000000
33        131.0        Scott Hill        Sales   47.0000   73000.000000
34        132.0       Donna Scott           HR   24.0000   50000.000000
35        133.0        Eric Green    Marketing   30.0000   77000.000000
36        134.0      Justin Adams        ERROR   39.0000   89000.000000
37        135.0    Michelle Baker        Sales   28.0000   62000.000000
38        136.0  Raymond Gonzalez  Engineering   43.0000  110000.000000
39        137.0      Laura Nelson    Marketing   32.0000   79000.000000
40        138.0    Patrick Carter           HR   31.0000   61000.000000
41        139.0    Carol Mitchell        Sales   38.0000   66000.000000
42        140.0        Jack Perez  Engineering   29.0000  999999.000000
43        141.0    Brenda Roberts    Marketing   34.0000   81000.000000
44        142.0     Samuel Turner        Sales   23.0000   47000.000000
45        143.0  Gregory Phillips  Engineering   36.0000   91000.000000
46        144.0   Rachel Campbell           HR   27.0000   53000.000000
47        145.0     Andrew Parker        Sales   41.0000   68000.000000
48        146.0       Janet Evans    Marketing   35.0000   83000.000000
49        147.0    Joshua Edwards  Engineering   30.0000   87000.000000

    Join_Date
0  2021-01-15
1  2019-03-12
2  2020-06-01
3  2022-02-20
4  2018-11-10
5  2021-01-15
6  2021-07-22
7  2023-01-05
8  2020-10-15
9  2015-05-19
10 2017-08-30
11 2022-04-12
12 2019-09-01
13 2016-12-11
14 2014-02-28
15 2023-03-15
16 2019-09-01
17 2012-06-25
18 2021-11-05
19 2022-08-14
20 2018-04-10
21 2016-01-20
22 2020-02-14
23 2017-10-05
24 2021-09-12
25 2023-06-01
26 2018-03-22
27 2020-11-30
28 2014-07-18
29 2019-05-05
30 2019-05-05
31 2022-12-01
32 2015-10-10
33 2011-09-15
34 2023-05-20
35 2020-04-18
36 2016-08-12
37 2021-02-14
38 2013-12-01
39 2019-12-15
40 2020-07-07
41 2017-05-25
42 2021-03-30
43 2018-09-10
44 2023-02-14
45 2016-04-20
46 2022-01-10
47 2017-11-12
48 2018-06-30
49 2020-08-22

3. Multivariate Imputation by Chained Equations (MICE)

Concept: Also known as Iterative Imputation. This is a sophisticated method that models each feature with missing values as a function of other features.

It fills missing values with a placeholder (e.g., mean).

It treats the column with missing values as the "target" and runs a regression model (like BayesianRidge) using other columns as features to predict the true value.

It repeats this process multiple times until the values converge

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
df_mice=df.copy()
mice_imputer=IterativeImputer(max_iter=10,random_state=0)
df_mice[numerical_cols]=imputer.fit_transform(df_mice[numerical_cols])
print("\n --- MICE (Iterative) Imputation ---")
print(df_mice)

 --- MICE (Iterative) Imputation ---
    Employee_ID              Name   Department       Age         Salary  \
0         101.0          John Doe  Engineering   28.0000   75000.000000
1         102.0        Jane Smith    Marketing   34.0000   82000.000000
2         103.0      Mike Johnson  Engineering   35.9375   90000.000000
3         104.0    Sarah Williams           HR   29.0000   62000.000000
4         105.0      Robert Brown        Sales   45.0000   55000.000000
5         101.0          John Doe  Engineering   28.0000   75000.000000
6         106.0       Emily Davis    Marketing   31.0000  108624.979167
7         107.0      Chris Miller        Sales   22.0000   48000.000000
8         108.0       Anna Taylor           HR  205.0000   72000.000000
9         109.0      David Wilson  Engineering   40.0000  120000.000000
10        110.0       Linda Moore        Sales   37.0000   64000.000000
11        111.0    James Anderson          ???   29.0000   59000.000000
12        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
13        113.0   Richard Jackson        Sales   42.0000  850000.000000
14        114.0       Susan White  Engineering   38.0000   95000.000000
15        115.0     Joseph Harris           HR   26.0000   51000.000000
16        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
17        116.0     Thomas Martin        Sales   50.0000   71000.000000
18        117.0  Jessica Thompson  Engineering   30.0000  108624.979167
19        118.0     Daniel Garcia    Marketing   27.0000   69000.000000
20        119.0    Nancy Martinez        Sales   -5.0000   63000.000000
21        120.0     Paul Robinson  Engineering   35.0000   88000.000000
22        121.0      Steven Clark           HR   32.0000   60000.000000
23        122.0   Karen Rodriguez        Sales   41.0000   67000.000000
24        123.0      Edward Lewis    Marketing   29.0000   74000.000000
25        124.0         Betty Lee  Engineering   19.0000   52000.000000
26        125.0      Kevin Walker        Sales   36.0000   65000.000000
27        126.0      Dorothy Hall           HR   35.9375   58000.000000
28        127.0       Jason Young  Engineering   44.0000  115000.000000
29        128.0        Alice King    Marketing   31.0000   80000.000000
30        128.0        Alice King    Marketing   31.0000   80000.000000
31        129.0      Brian Wright        Sales   25.0000   49000.000000
32        130.0         Amy Lopez  Engineering   33.0000   92000.000000
33        131.0        Scott Hill        Sales   47.0000   73000.000000
34        132.0       Donna Scott           HR   24.0000   50000.000000
35        133.0        Eric Green    Marketing   30.0000   77000.000000
36        134.0      Justin Adams        ERROR   39.0000   89000.000000
37        135.0    Michelle Baker        Sales   28.0000   62000.000000
38        136.0  Raymond Gonzalez  Engineering   43.0000  110000.000000
39        137.0      Laura Nelson    Marketing   32.0000   79000.000000
40        138.0    Patrick Carter           HR   31.0000   61000.000000
41        139.0    Carol Mitchell        Sales   38.0000   66000.000000
42        140.0        Jack Perez  Engineering   29.0000  999999.000000
43        141.0    Brenda Roberts    Marketing   34.0000   81000.000000
44        142.0     Samuel Turner        Sales   23.0000   47000.000000
45        143.0  Gregory Phillips  Engineering   36.0000   91000.000000
46        144.0   Rachel Campbell           HR   27.0000   53000.000000
47        145.0     Andrew Parker        Sales   41.0000   68000.000000
48        146.0       Janet Evans    Marketing   35.0000   83000.000000
49        147.0    Joshua Edwards  Engineering   30.0000   87000.000000

    Join_Date
0  2021-01-15
1  2019-03-12
2  2020-06-01
3  2022-02-20
4  2018-11-10
5  2021-01-15
6  2021-07-22
7  2023-01-05
8  2020-10-15
9  2015-05-19
10 2017-08-30
11 2022-04-12
12 2019-09-01
13 2016-12-11
14 2014-02-28
15 2023-03-15
16 2019-09-01
17 2012-06-25
18 2021-11-05
19 2022-08-14
20 2018-04-10
21 2016-01-20
22 2020-02-14
23 2017-10-05
24 2021-09-12
25 2023-06-01
26 2018-03-22
27 2020-11-30
28 2014-07-18
29 2019-05-05
30 2019-05-05
31 2022-12-01
32 2015-10-10
33 2011-09-15
34 2023-05-20
35 2020-04-18
36 2016-08-12
37 2021-02-14
38 2013-12-01
39 2019-12-15
40 2020-07-07
41 2017-05-25
42 2021-03-30
43 2018-09-10
44 2023-02-14
45 2016-04-20
46 2022-01-10
47 2017-11-12
48 2018-06-30
49 2020-08-22

4. Time-Series Imputation (Forward/Backward Fill)

Concept: If your data is time-series data (ordered by time), using the mean is dangerous because it ignores trends. instead, we propagate the last known value forward or the next valid value backward.

FFill (Forward Fill): Takes the previous valid value and fills it forward.

BFill (Backward Fill): Takes the next valid value and fills it backward.

In [ ]:
df_time=df.copy()
df_ffill=df_time.ffill()
sf_bfill=df_time.bfill()
df_interpolate=df_time.interpolate(method='linear')
print("\n--- Time Series: Linear Interpolation ---")
print(df_interpolate)

--- Time Series: Linear Interpolation ---
    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
2           103      Mike Johnson  Engineering   31.5   90000.0 2020-06-01
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
6           106       Emily Davis    Marketing   31.0   61500.0 2021-07-22
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
18          117  Jessica Thompson  Engineering   30.0   70000.0 2021-11-05
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
27          126      Dorothy Hall           HR   40.0   58000.0 2020-11-30
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22

/tmp/ipython-input-2054115413.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolate=df_time.interpolate(method='linear')